@media (max-width: 1800px) {
  .main_container_images {
    width: 40%;
  }

  .container_setting {
    width: 90%;
  }
}
@media (max-width: 1500px) {
  .main {
    flex-direction: column;
    gap: 50px;
  }
  .main_container_images {
    width: 100%;
  }
  .main_container_images {
    max-width: 100%;
  }
}
@media (max-width: 1400px) {
  .nav__left {
    display: none;
  }
  .footer-links {
    width: 90%;
  }
}
@media (max-width: 1100px) {
 .container_setting {
  flex-direction: column;
}
.set_inside{
 min-width: 22]0px;
}
}
@media (max-width: 1000px) {
  .footer-links {
    justify-content: space-between;
  }
}
@media (max-width: 850px) {
  .main_container_maps {
    display: flex;
    flex-direction: column;
  }
  .footer {
    height: 20vh;
  }
  .footer-links {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 800px) {
  .nav__right {
    gap: 20px;
  }
}
@media (max-width: 650px) {
  .nav {
    height: 20vh;
  }
  .nav__right {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .main_container_maps {
    display: flex;
    flex-direction: column;
  }
  .main_map {
    min-width: 200px;
  }
  .main_container_images {
    min-width: 180px;
  }
}
