.DarkTheme {
  --bg-body: #000;
  --bg-two-color: #1e1e1e;
  --three-color: rgb(80, 0, 0);
  --text-color: #fff;
}

.LightTheme {
  --bg-body: rgb(0, 116, 116);
  --bg-two-color: rgb(0, 114, 114);
  --three-color: rgb(200, 255, 255);
  --text-color: #000;
}