.footer {
  border-radius: 12px 12px 0 0;
  margin-top: 10vh;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid black;
  padding: 0 20px;
  background-color: var(--bg-body);
  color: var(--color-text);
  font-size: 17px;
  gap: 20px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 1px 20px 1px var(--bg-body);
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.dis {
  filter: invert(var(--svg-invert));
}
