* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--bg-body);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 80%;
  overflow: hidden;
  color: #fff;
}