* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--bg-body);
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  width: 60%;
  max-width: 80%;

  overflow: hidden;

  color: #fff;
  background-color: var(--three-color);
  box-shadow: 0px 1px 20px 1px var(--three-color);
}

.inside {
  border-radius: 12px;
  min-height: 40vh;
}

.updown {
  list-style: none;
  height: 10vh;
}
.svg {
  width: 55px;
  height: 55px;
}
.svg-img {
  width: 250px;
  height: 250px;
  margin: 40px 0;
  fill: currentColor;
  transition: 0.2s;
}
