.main {
  display: flex;
}

.main_container_maps {
  display: flex;
  gap: 20px;
}

.main_map {
  min-width: 250px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 1px 20px 1px var(--bg-body);
  border-radius: 12px;
  border: 4px solid black;
}
