.main {
  display: flex;
}

.main_container_maps {
  display: flex;
  gap: 20px;
}

.main_map {
  min-width: 220px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 1px 20px 1px var(--bg-body);
  border-radius: 12px;
  border: 4px solid var(--bg-body);
  cursor: pointer;
}

.main_container_images {
 border: 4px solid var(--bg-body);
 max-width: 50%;
 max-height: 90%;
}

.main_container_images img {
 width: 100%;
 height: 100%;
 object-fit: contain;
}

.main_img {
  margin: 0 0 -7px 0;
}
