.nav {
  border-radius: 0 0 12px 12px;
  margin-bottom: 10vh;
}

.nav__icon {
  width: 55px;
  height: 55px;
}

.nav__title,
.nav__right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.nav__right {
  gap: 80px;
}