.setting {
  display: none;
}

.container_setting {
  width: 90%;
  justify-content: space-between;
}
.set_inside {
  padding: 24px;
  border: 4px solid var(--bg-body);
  border-radius: 12px;
}

.set_btn,
.container_setting {
  display: flex;
  align-items: center;
  min-width: 100px;
  padding: 20px 0;
  gap: 20px;
}
.set_title{
  display: flex;
  justify-content: center;
}

.set_btn {
  cursor: pointer;
  justify-content: space-evenly;
}
